html {
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6f6f2;
  height: 100%;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%
}

.main-stat {
  font-family: oswald;
  font-size: 38px;
  font-weight: bold;
}

.main-stat-unit {
  font-family: oswald;
  font-size: 14px;
  margin-left: 2px;
}

*:focus {
  box-shadow: none !important;
}

*[data-focus] {
  box-shadow: none !important;
}

#chakra-toast-manager-bottom {
  bottom: 30px !important;
}

:focus {
  outline: none;
  box-shadow: none !important;
}


.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, .0);
  border-radius: 100%;
  border-top-color: #1b4847;
  border-right-color: #1b4847;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.alarmFadeInOut {
  opacity: 1;
  animation: fade 1s cubic-bezier(1,1,0,1) infinite;
}

@keyframes fade {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

.u-select {
  background: rgba(0, 0, 0, 0.2) !important;
}

.u-marker {
  border-radius: 8px !important;
}

.rdp {
  --rdp-background-color: #5e8d88a0 !important;
}